# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
No

https://onboarding.spherion.com/psc/RGPROD_newwin/PUBLIC/ENTP/s/WEBLIB_RNA.ISCRIPT1.FieldFormula.IScript_Audit_OB_FO_Access?&Action=U&SM_Params=hkOlCJt%2fdkAPdVNsmF39HPmib5ym1BV4ZJqfAsXruPsG0MJlz%2b8HpkLSyBtNEsWTcaIjXQ94aBhRORzX5weI1OQcVdFakkLZhkOlCJt%2fdkAPdVNsmF39HPmib5ym1BV4ZJqfAsXruPsqPVk%2fb6h0TdFHCZ6z6TQ34WADcIwvplrTs72LqSjNGW4n14xchZC%2fLM9d%2b7U%2bvwQU6SFCqB4c1Ytd3Csr12GA6mxvuDPiWMn07M1vQQO14Ax2%2bg4eZdKqbd7r0fe6WR3XErKSspRI2gm6UbCi2%2bAVtxfI4xg0ogI%3d
